@use 'header';
$color-fondo: yellow;
@mixin bordesBasico($color) {
    background-color: $color;
    width: 150px;
    height: 150px;
    padding: 5px;
    align-items: center;
    margin-top: 50px;
    
}

//herencia

%basico{
    background-color: blue;
    border-radius: 1px solid black ;
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

body{
    background-color: $color-fondo;
}

#caja2{
    @include bordesBasico(red);
}

#caja3{
    @extend %basico;
    background-color: red;
}
#caja4{
    @extend %basico;
}